<div class="row">
    {{# each products }}
    <div class="col-sm-6 col-md-4 each-item">
        <div class="thumbnail">
            <img src="{{this.imagePath}}" alt="...">
            <div class="caption">
                <h3>{{this.title}}</h3>
                <p class="description">{{ this.description }}</p>
                <div class="clearfix">
                    <span class="price float-left">${{this.price}}</span>
                    <a href="/add-to-cart/{{this._id}}" class="btn btn-success float-right" role="button">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>